In [1]:
#TO run -  ctrl + enter
#Our First Program 'Printing Hello World'
print("Hello World")

Hello World

### VARIABLE 
Variable is a name that is used to refer to memory location.

In Python, we don't need to specify the type of variable because Python is a infer language and smart enough to get variable type.

Variable names can be a group of both the letters and digits, but they have to begin with a letter or an underscore.

In [2]:
a = 2

In [3]:
print(a)

2

In [4]:
b = 12335246463463526356346

In [5]:
print(b)

12335246463463526356346

In [6]:
c = 1.2

In [7]:
print(c)

1.2

In [8]:
d = 'A'

In [9]:
print(d)

A

In [12]:
name = "LFL is nice"

In [13]:
print(name)

LFL is nice

In [14]:
#not possible
0 = x

SyntaxError: cannot assign to literal (<ipython-input-14-a89c87b46e60>, line 1)

In [15]:
x = 0

## syntax of variable 
variable name = value

In [17]:
T = True

In [18]:
print(T)

True

In [19]:
print(type(T))

<class 'bool'>

In [20]:
a = 2

In [21]:
print(type(a))

<class 'int'>

In [22]:
b = 1.2

In [23]:
print(type(b))

<class 'float'>

In [24]:
print(type(print))

<class 'builtin_function_or_method'>

In [25]:
import math

In [26]:
LFL  = 12

In [32]:
a , b , c = 1 ,2 ,3

In [33]:
print(a)

1

In [34]:
print(b)

2

In [35]:
print(c)

3

In [31]:
a ,b , _ = 1,2,3

In [36]:
print(a)

1

In [37]:
print(b)

2

In [38]:
print(_)

3

In [40]:
a,b,c= 1,2,5

In [41]:
a=b=c=1

In [42]:
print(a)

1

In [43]:
print(b)

1

In [44]:
print(c)

1

In [45]:
print(a,b,c)

1 1 1

In [46]:
a=1
a=a+1
print(a)

2

In [47]:
_a = 10

In [48]:
5asa=10

SyntaxError: invalid syntax (<ipython-input-48-75a2ff2627dc>, line 1)

In [49]:
import keyword

In [50]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## indentation 
Indentation refers to the spaces at the beginning of a code line. Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important. Python uses indentation to indicate a block of code.

## Naming convention for variables

The first character of the variable must be an alphabet or underscore ( _ ).

All the characters except the first character may be an alphabet of lower-case(a-z), upper-case (A-Z), underscore, or digit (0-9).

Variable name must not contain any white-space, or special character (!, @, #, %, ^, &, *).

Variable name must not be similar to any keyword defined in the language.

Variable names are case sensitive; for example, my name, and MyName is not the same.

Examples of valid identifiers: a123, _n, n_9, etc.

Examples of invalid identifiers: 1a, n%4, n 9, etc.

## Datatypes in python

* int
* float (decimal)
* character
* string
* list
* tuple
* dictionary

In [53]:
a = '123'

In [54]:
a="145"

In [55]:
print(type(a))

<class 'str'>

In [56]:
print(int(a))

145

In [57]:
print(type(int(a)))

<class 'int'>

In [58]:
a = '123'

In [59]:
b = int(a)

In [60]:
print(type(b))

<class 'int'>

In [61]:
a = 123

In [62]:
print(int(a))

123

In [63]:
b = str(a)

In [64]:
print(type(b))

<class 'str'>

In [76]:
#list -A list can be defined as a collection of values or items of different types.
#The items in the list are separated with the comma (,) and enclosed with the square brackets [].
l = ['apple',"ball","cat"]

In [77]:
print(l)

['apple', 'ball', 'cat']

In [78]:
print(l[0])

apple

In [79]:
print(l[1])

ball

In [80]:
print(l[2])

cat

In [81]:
print('i am from "delhi"')

i am from "delhi"