# Introduction to Python Datatypes
## Set
* Sets are unordered collections of unique objects. 
* They are mutable and new elements can be added once sets are defined.

In [1]:
set1 = {'Dmon','Nobita','Shijuka','Dmon'}

In [2]:
print(set1)

{'Nobita', 'Shijuka', 'Dmon'}

In [3]:
set1.add('Giyan')

In [4]:
print(set1)

{'Giyan', 'Nobita', 'Shijuka', 'Dmon'}

In [5]:
set2 = {1,2,3,3,3,4,5,6,6,7}

In [6]:
print(set2)

{1, 2, 3, 4, 5, 6, 7}

## List
* A list contains items separated by commas and enclosed within square brackets [].
* lists are almost similar to arrays in C. One difference is that all the items belonging to a list can be of different data type.

In [34]:
l1 = ["LFl" , 12 , 1.2 ]

In [42]:
print(type(l1))

<class 'list'>

In [36]:
l1[0] = 'HI'

In [29]:
l2 = ['Academy', "good" , 45 , 45]

In [30]:
print(l2)

['Academy', 'good', 45, 45]

In [14]:
l3 = l1 + l2
print(l3)

['LFl', 12, 1.2, 'Academy', 'good', 45]

In [15]:
l1 = ["LFl" , 12 , 1.2 ]

In [17]:
print(l1*10)

['LFl', 12, 1.2, 'LFl', 12, 1.2, 'LFl', 12, 1.2, 'LFl', 12, 1.2, 'LFl', 12, 1.2, 'LFl', 12, 1.2, 'LFl', 12, 1.2, 'LFl', 12, 1.2, 'LFl', 12, 1.2, 'LFl', 12, 1.2]

## Dictionary

* Dictionary consists of key-value pairs. 
* It is enclosed by curly braces {} and values can be assigned and accessed using square brackets[]

In [23]:
#syntax -> dict_name = {'Key' : 'Value'}

information = {'name' : 'LFL' , 'age' : 3 , 'phno' : 12345}

In [41]:
#print(information)
print(type(information))

<class 'dict'>

In [21]:
print(information['name'])

LFL

In [22]:
print(information['age'])

3

In [25]:
print(information['phno'])

12345

In [26]:
information['age']  = 90

In [27]:
print(information['age'])

90

In [28]:
print(information)

{'name': 'LFL', 'age': 90, 'phno': 12345}

## Tuple

* Lists are enclosed in brackets [ ] and their elements and size can be changed, while tuples are enclosed in parentheses ( ) and cannot be updated. 
* Tuples are immutable.

In [31]:
#enclosed within () brackets
#immutable
tuple1 = (123,'LFL')

In [32]:
print(tuple1)

(123, 'LFL')

In [33]:
#tuple[0] = 456
#this cant be done in case of tuple.

TypeError: 'type' object does not support item assignment

In [38]:
tuple2 = (45,56,32,21)

In [39]:
print(tuple1 + tuple2)

(123, 'LFL', 45, 56, 32, 21)

In [40]:
print(type(tuple1))

<class 'tuple'>

In [43]:
l = ['Dmon','Nobita','Shijuka','Dmon']

In [44]:
print(l)

['Dmon', 'Nobita', 'Shijuka', 'Dmon']

In [45]:
print(set(l))

{'Nobita', 'Shijuka', 'Dmon'}